<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Audio and Video Prediction App</h1>
    <h2>Please select the function you would like to test.</h2>
    <h3>Upload an audio to test.</h3>
    <button onclick="window.location.href='/predict_audio_home'">Predict Audio</button>
    <h3>Upload a video to test.</h3>
    <button onclick="window.location.href='/predict_video_home'">Predict Video</button>
    <h3>Upload an online URL for testing. Please remember to consider copyright laws.</h3>
    <button onclick="window.location.href='/predict_youtube_audio_home'">Predict Youtube audio</button>
    <h3>Upload an audio to do text analysis.</h3>
    <button onclick="window.location.href='/text_analysis_home'">Text Analysis</button>
</body>
</html>
