<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Audio</title>
</head>
<body>
    <h1>Upload an Audio for Prediction</h1>
    <h3>Only allow mpeg, wav, ogg, x-wav, and flac file.</h3>
    <form id="uploadForm" enctype="multipart/form-data">
        <label for="audioFile">Select an audio file:</label>
        <input type="file" id="audioFile" name="audioFile" accept="audio/*" required>
        <br><br>
        <button type="submit">Upload and Predict</button>
    </form>

    <h2>Prediction Result</h2>
    <div id="result"></div>

    <script>
        document.getElementById('uploadForm').onsubmit = async function(event) {
            event.preventDefault();

            const formData = new FormData();
            const audioFile = document.getElementById('audioFile').files[0];
            formData.append('audioFile', audioFile);

            try {
                const response = await fetch('/predict_audio', {
                    method: 'POST',
                    body: formData,
                });

                if (!response.ok) {
                    throw new Error('Error in fetching data');
                }

                const result = await response.json();
                const resultDiv = document.getElementById('result');

                resultDiv.innerHTML = `<pre>${JSON.stringify(result, null, 2)}</pre>`;
            } catch (error) {
                console.error('Error:', error);
            }
        };
    </script>
</body>
</html>
